@model IEnumerable<KathakBooking.Models.Class>

@{
    int count=5;
}

<center><h1>Available Kathak Dance Classes</h1></center>
<table class="table table-stripped">
    <tr>
        <th>@Html.DisplayNameFor(m=>m.ClassId)</th>
        <th>@Html.DisplayNameFor(m=>m.StartTime)</th>
        <th>@Html.DisplayNameFor(m=>m.EndTime)</th>
        <th>Total Capacity</th>
        <th>Students Count</th>
        <th>Remaning Capacity</th>
        <th>Actions</th>
    </tr>

    @foreach(var i in Model)
    {
        <tr>
            <td>@i.ClassId</td>
            <td>@i.StartTime</td>
            <td>@i.EndTime</td>
            <td>@i.Capacity</td>
            <td></td>
            <td></td>
            @if(@i.Capacity>0)
            {<td><a input type="submit" asp-controller="Booking" asp-router-id="@i.ClassId" asp-action="ClassEnrollmentForm">Enroll</a></td>}
            else
            {<td><p>Enrollment Over</p></td>}
            </tr>
    }
</table>