@model IEnumerable<CarServiceBookingSystem.Models.CarService>

<table class="table table-stripped">
    @foreach(var i in Model)
    {
        <tr>
            <td>@i.CarName</td>
            <td>@i.CarNumber</td>
            <td>@i.CarVariant</td>
            <td>@i.CustomerName</td>
            <td>@i.PhoneNumber</td>
            <td>@i.Complaint</td>
            <td>@i.Address</td>
        </tr>
    }
</table>